extends ../layout/base.pug

block content 
    section.mainSection 
        form(action="/emp" method="get")
            button.linkBtn EMP

        form(action="/dept" method="get")
            button.linkBtn DEPT   