doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SCOTT
        link(rel="stylesheet", href="/assets/styles.css")
    body
        header.header 
            a(href="/") HOME

        block content 

        footer.footer FOOTER  
